/* Designed & built by Winston */


/* Organizational design question - do I organize these sheet by viewport, eg under 600px over xx, or by ui cog, eg banner, main, hr? */

* {
  /* Hack, fix */
  margin: 0;
  padding: 0;
  /*  color: #515151;*/
  /*  -webkit-font-smoothing: antialiased;*/
}

*::selection {
  /*  color: #ffffff;*/
  /*  background: #B25853;*/
}


/* Basic styles, under 750px */

.all {
  /*display: -webkit-flex;*/
  display: flex;
  /*-webkit-flex-direction: column;*/
  flex-direction: column;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #222222;
}

@font-face {
    font-family: 'moon_flowerregular';
    src: url('fonts/moon_flower-webfont.eot');
    src: url('fonts/moon_flower-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/moon_flower-webfont.woff2') format('woff2'),
         url('fonts/moon_flower-webfont.woff') format('woff'),
         url('fonts/moon_flower-webfont.ttf') format('truetype'),
         url('fonts/moon_flower-webfont.svg#moon_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.bam {
  font-family: "Moon Flower Bold";
}

body {
  /* Controls color above/below page, seen only on overscroll */
  background-color: #333333;
}

.banner {
  background-color: #333333;
  /*height: 300px;*/
  /*  -webkit-font-smoothing: antialiased;*/
  color: #B0B0B0;
}

.banner-text {
  /*display: -webkit-flex;*/
  display: flex;
  /*-webkit-flex-direction: column;*/
  flex-direction: column;
}

header {
  padding-top: 20px;
}

.profile-image {
  background-image: url("http://stanlemmens.nl/wp/wp-content/uploads/2014/07/bill-gates-wealthiest-person.jpg");
  width: 175px;
  height: 175px;
  background-size: 100% 100%;
  margin: auto;
  box-shadow: 0 0 5px #FDFBF4;
  border-radius: 50%;
}

.name {
  font-family: 'Moon Flower', sans-serif;
  letter-spacing: 0.05em;
  font-size: 24px;
  text-align: center;
  /*  -webkit-font-smoothing: antialiased;*/
}

.name h1 {
  margin: 0.4em 0;
}

nav {
  display: none;
}

footer {
  display: none;
}

hr {
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  /* 200px, as per height of .banner */
  /*top: 300px;*/
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-image: -moz-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-text-fill-color: transparent;
}


/* Mobile .main */

.main {
  background-color: #FFFDF2;
  /*  padding-top: 20px;*/
  line-height: 1.8em;
}

.container {
  /*display: webkit-flex;*/
  display: flex;
  /*-webkit-flex-direction: column;*/
  flex-direction: column;
  margin: 60px 15px;
  text-align: center;
  background-color: #fdfdfd;
  padding: 30px 10px;
  /*  -webkit-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.75);*/
  /*  -moz-box-shadow: 1px 2px 1px 0px rgba(0,0,0,0.75);*/
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.profile {
  margin-top: 45px;
}

.profile h2 {
  color: #333333;
  font-family: 'Libre Baskerville', serif;
  font-size: 22px;
  text-align: center;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-size: 36px;
  text-align: center;
  font-family: 'Moon Flower', sans-serif;
  padding-bottom: 20px;
  /*  -webkit-font-smoothing: antialiased;*/
}

h2 .dark {
  color: #2D2D2D;
}

h2 .darker {
  color: #282828;
}

h2 .darkest {
  color: #222222;
}

.skills-list,
.skills h3 {
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

.work {
  text-align: left;
  margin-top: 40px;
}

.multispan-work {
  margin-top: 0;
}

.china-work {
  margin-bottom: 0;
}

.work ul {
  margin-top: 10px;
}

.work li {
  margin-bottom: 10px;
  margin-left: 20px;
  list-style-type: circle;
}

.work h4 {
  font-variant: small-caps;
  /*font-family: 'Moon Flower', sans-serif;*/
}

.work h5 {
  font-size: 16px;
  display: inline;
  border-bottom: 1px solid #5d5d5d;
}

.publications,
.patents {
  text-align: left;
}

.publications > ul {
  padding-left: 2em;
  text-indent: -2em;
}

.publications li {
  margin-bottom: 10px;
}

h3 {
  font-weight: 100;
}

h4 {
  font-size: 22px;
}

.contact {
  margin-bottom: 45px;
}

.work-images {
  width: 125px;
  height: 125px;
  background-position: center;
  background-size: cover;
  float: right;
  margin-top: 10px;
  margin-left: 1rem;
  -webkit-shape-outside: circle();
  shape-outside: circle();
  box-shadow: 0 0 5px #333333;
  border-radius: 50%;
}

.multispan-image {
  background-image: url("img/hayward.jpg");
  background-position: top;
}

.gg-image {
  background-image: url("img/gg.jpg");
}

.SCU-image {
  background-image: url("img/santaclarauni.jpg");
}

.shanghai-image {
  background-image: url("img/shanghai.jpg");
}

.SCU-logo-small {
  background-image: url("img/SCU-logo.png");
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  margin: auto;
  margin-top: 15px;
}


/* Devices above 750px wide */

@media (min-width: 750px) {
  body {
    /* Controls color above/below page, seen only on overscroll */
    /*background-color: #FDFBF4;*/
    font-size: 18px;
  }
  /* All things .banner */
  .banner {
    width: 18em;
    height: 100%;
    position: fixed;
  }
  .name {
    font-size: 30px;
    text-align: center;
    color: #1374FF;
  }
  .heading-color-splash {
    color: #FA4A15;
  }
  nav {
    width: 250px;
    display: initial;
    text-align: left;
    margin: auto;
  }
  .profile-image {
    width: 250px;
    height: 250px;
  }
  footer {
    width: 250px;
    margin: auto;
    display: initial;
    /* Pretty hacky, fix */
    font-size: 10px;
    position: fixed;
    bottom: 1px;
    left: 38px;
  }

  /* All things .main */
  .main {
    margin: auto;
    padding-top: 0;
    /* This value matches the width of .banner, see above */
    margin-left: 18em;
  }

  .container {
    margin: 120px 50px;
    padding: 50px 20px;
  }

  .profile {
    margin-top: 75px;
  }

  .profile h2 {
    font-size: 40px;
    line-height: 1.4em;
  }

  .work ul {
    /*  display: inline;*/
  }

  .work-images {
    width: 275px;
    height: 275px;
  }

  .skills,
  .education {
    text-align: center;
    /*-webkit-flex-direction: row;*/
    flex-direction: row;
  }

  .skills,
  .education {
    flex-wrap: wrap;
  }

  .skills > h3,
  .education > h3 {
    flex: 0 1 100%;
  }

  .skills-list,
  .degree {
    margin: auto;
  }

  .contact {
    margin-bottom: 75px;
  }

  .SCU-logo-small {
    display: none;
  }

  .SCU-logo {
    background-image: url("img/SCU-logo.png");
    width: 175px;
    height: 175px;
    background-size: 100% 100%;
  }

  .one {
    color: #FA4A15;
  }

  .two {
    color: #1374FF;
  }

  /**/
  /**/
  /* Glowstick, clean up, give credit to animate.css guy for showing how it's done */
  /**/
  /**/

  hr {
    border: none;
    height: 100%;
    position: absolute;
    right: -6px;
    top: 0;
    width: 6px;
    background-color: #c0c8c9;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    background-image: -moz-linear-gradient(92deg, #f35626, #feab3a);
    /* -webkit-text-fill-color: transparent; */
    -webkit-animation: hue 10s infinite linear;
    -moz-animation: hue 10s infinite linear;
  }

  @-moz-keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
  }
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
}