* {
  margin: 0;
}

body {
  /*width: 100%;*/
  background-color: #F5F5F5;
}

.side {
  background-color: #66737F;
  margin: auto;
  /* For hr positioning */
  position: relative;
  width: 25%;
  height: 100%;
}

.main {
  width: 75%;
  margin: auto;
  height: 100%;
  overflow: auto;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #1374FF;
}

img {
  margin: 0 auto;
}

.image {
  background-image: url("http://www.free-slideshow.com/screens/cheerful_monkeys/cheerful-monkey.jpg");
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  margin: auto;
}

nav {
  text-align: left;
}

.sidebar-text {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
}

.heading-color-splash {
  color: #FA4A15;
}

h2 {
  color: #303030;
  font-size: 30px;
}

p {
  color: #515151;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: #515151;
  font-size: 18px;
}

.all {
  display: flex;
  height: 100%;
}

.container {
  background-color: #EFF1F5;
  display: flex;
  /*height: 300px;*/
  flex-wrap: wrap;
}

.container2 {
  background-color: #EFF1F5;
  display: flex;
  height: 300px;

}

.container3 {
  background-color: #EFF1F5;
  display: flex;
  height: 300px;
}

.container4 {
  background-color: #EFF1F5;
  display: flex;
  height: 300px;
}

.item0 {
  margin: 100px 50px 100px 50px;
  text-align: center;
  /*flex-grow: 1;*/
}

.list {
  text-align: center;
  background-color: #FDFBF4;
  margin: auto;
}

.item1 {
  background-color: black;
  width: 200px;
  height: 200px;
  margin: auto;
}

.item2 {
  background-color: #FDFBF4;
  width: 200px;
  height: 200px;
  margin: auto;
}

.item3 {
  background-color: #6F6F6F;
  width: 100px;
  height: 100px;
  margin: auto;
}

.item4 {
  background-color: #333333;
  width: 100px;
  height: 100px;
  margin: auto;
}

.item5 {
  background-color: #25C740;
  width: 100px;
  height: 100px;
  margin: auto;
}


.one {
  color: #FA4A15;
}
.two {
  color: #1374FF;
}

/**/
/**/
  /* Not my work! */
/**/
/**/

hr {
  border: none;
  /*margin-left: 200px;*/
  /*margin-top: -10px;*/
  height: 100%;
  /* Positions hr on right edge of sidebar */
  /*position: absolute;*/
  /*right: 0;*/

  width: 6px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    background-image: -moz-linear-gradient(92deg,#f35626,#feab3a);
  /* -webkit-text-fill-color: transparent; */
  -webkit-animation: hue 10s infinite linear;
  -moz-animation: hue 10s infinite linear;
}


/*-----------------------------------*\
  $BASE
\*-----------------------------------*/



/*-----------------------------------*\
  $HEADER
\*-----------------------------------*/

  .site__title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
  }

/*-----------------------------------*\
  $ANIMATIONS
\*-----------------------------------*/

@-moz-keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
